body{
    background: url(Colorful-Circle-Simple-Background-Image-1.jpg);
    background-size: cover;
} 
button:hover{
    height: 35px;
    width: 75px;
   text-decoration: tomato;
background: yellow;
cursor: pointer;
}
